<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2017 Andrew Chi Heng Lam
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in all
  ~ copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  ~ SOFTWARE.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andrewclam.bakingapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

                <!-- TODO [Widget] Step 3 - Register MainActivity to handle widget congifuration -->
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".StepListActivity"
            android:label="@string/title_step_list"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.andrewclam.bakingapp.MainActivity" />
        </activity>
        <activity
            android:name=".SimpleStepDetailActivity"
            android:label="@string/title_step_detail"
            android:launchMode="singleTop"
            android:parentActivityName=".StepListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.andrewclam.bakingapp.StepListActivity" />
        </activity>

        <activity
            android:name=".StepDetailActivity"
            android:label="@string/title_activity_step_detail__phone"
            android:launchMode="singleTop"
            android:parentActivityName=".StepListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.andrewclam.bakingapp.StepListActivity" />
        </activity>

        <!-- TODO [Widget] Step 4 - Register the widget remote view service for binding remote views
        -->
        <service
            android:name=".services.WidgetRemoteViewService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service
            android:name=".services.WidgetIntentService"
            android:exported="false" />

        <!-- todo [Content Provider] Step 1 - Register IntentService for database operation -->
        <service
            android:name=".services.SyncDbIntentService"
            android:exported="false"/>

        <!-- TODO [Widget] Step 1 - Register the widget update receiver with the widget provider -->
        <receiver android:name=".widget.WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/simply_baking_widget_info" />
        </receiver>

        <!-- TODO [ExoPlayer Media Playback] Step 10 - Register receiver for MediaButton actions
        -->
        <receiver android:name=".StepDetailFragment$MediaReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <!-- TODO [Content Provider] Step 3 - Register the Recipe ContentProvider-->
        <provider
            android:name=".data.RecipeContentProvider"
            android:authorities="com.andrewclam.bakingapp"
            android:exported="false" />

    </application>

</manifest>